<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>

<form action="/add" method="post" class="item-block"> 
    <div class="form-group">
        <label class="form-group__label" for="title">title</label>
        <input class="form-group__input" type="text" id="title" name="title" placeholder="title">
    </div>

    <div class="form-group">
        <label class="form-group__label" for="image">image</label>
        <input class="form-group__input" type="text" id="image" name="image" placeholder="image">
    </div>

    <div class="form-group">
        <label class="form-group__label" for="description">description</label>
        <input class="form-group__input" type="text" id="description" name="description" placeholder="description">
    </div>
    <% if(auth){ %>
    <input class="form-button" type="submit" value="Создать">
    <% } %>
</form>

<%- include('particles/footer.ejs') %>