<div class="sort">
    <p>Сортировка</p>
    <form action="/usingSortAlfabet" method="post" style="display: inline-block;">
        <input type="submit" value="По Имени">
    </form>
    <form action="/usingSortDate" method="post" style="display: inline-block;">
        <input type="submit" value="По Дате">
    </form>
    <form action="/usingSortPrice" method="post" style="display: inline-block;">
        <input type="submit" value="По Цене">
    </form>
</div>